body {
  margin: 0;
  background-color: #000;
  width: 100vw;
  box-sizing: content-box;
}

.wrapper {
  width: calc(100% - 80px);
  height: calc(100vh - 80px);
  border: 1px solid #ccc;
  margin: 20px auto;
  position: relative;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  align-content: start;
  grid-gap: 20px;

  .card {
    height: 200px;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    position: relative;
    overflow: hidden;

    .inner {
      position: absolute;
      background: #222222;
      border-radius: inherit;
      inset: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 3;
    }

    &::before {
      content: '';
      border-radius: inherit;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: radial-gradient(
        closest-side circle,
        rgba(#fff, 0.8) 0%,
        transparent
      ); // 设置背景色 径向渐变 ，从白色到透明，以短边为准
      position: absolute;
      left: var(--x, -1000px);
      top: var(--y, -1000px);
      transform: translate(-50%, -50%);
    }
  }
}
