body {
  margin: 0;
  background-color: #ccc;
  width: 100vw;
}

p {
  text-align: center;
}

#canvas {
  margin: 100px auto;
  width: 910px;
  height: 477px;
  border: 1px solid white;
  display: block;
}
