body {
  margin: 0;
  background-color: #000;
  width: 100vw;
}

.wrapper {
  width: auto;
  height: 500px;
  border: 1px solid #ccc;
  margin: 100px auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  --bg: url("../images/merrychristmas.png");
  background: var(--bg);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.wrapper .mask {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.wrapper .mask .text {
  background: var(--bg);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
  font-size: 8vw;
  font-weight: bold;
  text-stroke: 1px #fff;
  -webkit-text-stroke: 1px #fff;
  background-clip: text;
  -webkit-background-clip: text;
}
